@charset "UTF-8";
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.follow_container{
    border:2px solid black;
    width: 500px;
    height: 900px;
    /* 1. display block 
    margin: 위 오른 아래 왼; */
    margin: 0 auto;
    position: relative;
    background-color: white;
    color: navy;
    /* background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2); */
}

.top_nav{
    /* border:2px solid yellow; */
    padding: 10px;
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 5vh;
}

.logo_box{
    /* border:2px solid green; */
    width: 120px;
    height: 130px;
    margin-top : -25px;
    display:inline-block;
}

.icon_box{
    /* border:2px solid yellow; */
    margin-top : 5px;
    display:inline-block;
    float: right;
    /* display: inline-flex; */
}

.logo{
    width: 120%;
    margin-top: -30px;
}

.sub_nav{
    /* border: 2px solid green; */
    display: flex;
}

.sub_nav_item{
    border: 1px solid #ccc;
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.search_nav{
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    justify-content : center;
    align-items : center;
}

.search_box{
    height: 30px;
    width: 300px;
    border: 1px solid black;
    background: #3498db;
}

input:-ms-input-placeholder {color: gray;}
input::-webkit-input-placeholder {color: gray;}
input::-moz-placeholder {color: gray;}

input{
    font-size: 16px;
    width: 250px;
    padding: 5px;
    border: 0px;
    outline: none;
    float: left;
}

.search_btn{
    width: 40px;
    height: 100%;
    border: 0px;
    background: #3498db;
    outline: none;
    float: right;
    color: white;
}

.title_nav{
    padding: 10px;
}

.list_nav{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list_img{
    display: inline-block;
    border: 2px solid #ccc;
    width: 65px;
    height: 65px;
    float: left;
    border-radius: 50%;
    margin-left: 20px;
    /* margin-top: 3px; */
    position: relative;
}

.list_info{
    /* border: 2px solid yellow; */
    display: inline-block;
    width: 280px;
    height: 50px;
    margin-left: 10px;
    /* margin-top: 30px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.list_table{
    /* display: inline-block; */
    /* text-align: center; */
    /* margin-left: -20%; */
    /* margin-top: -10%; */
}

.list_button{
    /* border: 2px solid green; */
    /* float: right; */
    /* display: inline-flex; */
    /* margin-top: 30px; */
    /* margin-right: 10px; */
}

.btn{
    background-color: #41a4e7;
    color: white;
}