@charset "UTF-8";
body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,NanumBarunGothic,NanumGothic,나눔고딕,Segoe UI,Helveica,Arial,Malgun Gothic,Dotum,sans-serif;;
    color: #222;
}

.main_container{
    /* border: 2px solid black; */
    padding: 10px;
}

.header{
    /* border: 2px solid yellow; */
    padding: 10px;
}

.header_inner{
    /* border: 2px solid red; */
    display: inline;
}

.logo_box{
    /* border: 2px solid lawngreen; */
    box-sizing: border-box;
    float: left;
}

.logo{
    width: 200px;
    margin-top: -35%;
    margin-bottom: -40%;
}

.icon_box{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon_box_item{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    /* float: right; */
}

li{
    float: left;
    margin-right: 40px;
    /* font-weight: 700; */
}

.header_menu{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 99%;
}

.header_menu_item{
    /* border: 2px solid blue; */
    background-color: black;
    color: white;
    margin: 10px;
    padding: 8px 14px;
    width: 90px;
    /* min-width: 60px; */
    height: 25px;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: -.15px;
}

.feed_container{
    /* border: 2px solid darkorange; */
    padding: 10px;
    /* width: 70%;
    margin-left: 15%; */
}

.feed_header{
    /* border: 2px solid gray; */
}

.hashtag_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hashtag_item{
    display: inline-block;
    padding: 8px 10px;
    margin-left: 8px;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    font-size: 15px;
}

.feed{
    /* border: 2px solid yellow; */
}

.feed_userbox{
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 10px;
    margin-left: 15%;
}

.user_imgbox{
    border: 1px solid darkgray;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_name{
    /* border: 1px solid dodgerblue; */
    margin-left: 20px;
    color: navy;
    font-weight: 700;
}

.user_iconbox{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 58%;
}

.user_iconbox_item{
    /* border: 2px solid black; */
    font-weight: 700;
    color: royalblue;
}

.feed_small{
    width: 70%;
    margin-left: 15%;
}

.feed_imgbox{
    /* border: 2px solid pink; */
    width: 100%;
    height: 900px;
    border-radius: 30px;
}

.feed_img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
