@charset "UTF-8";
.insta-container{
    border:2px solid black;
    width: 500px;
    height: 900px;
    /* 1. display block 
    margin: 위 오른 아래 왼; */
    margin: 0 auto;
    position: relative;
    background-color: white;
    color: navy;
}

.top-nav{
    /* border: 1px solid black; */
    padding: 10px;
}

.nick, .menu{
    display:inline-block;
    /* border: 1px solid red; */
    font-size: 20px;
    font-weight: bold;
}

.menu{
    float: right;
}

.ac-info{
    /* border: 2px solid blue; */
}

.pr-img{
    display: inline-block;
    border: 2px solid #ccc;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

.web_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* .add_icon{
    background-color: rgba(31, 100, 160, 0.914);
    color: snow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
} */

.info-box{
    /* border: 2px solid red; */
    display: inline-flex;
    width: 300px;
    height: 60px;
    margin-left: 30px;
    margin-top: 27px;
}

.info-item{
    /* border: 1px solid black; */
    flex: 1;
    text-align: center;
    display: flex;

    /* 가로 가운데 정렬 */
    justify-content: center;
    /* 세로 가운데 정렬 */
    align-items: center;
}

.myname{
    /* border: 3px solid green; */
    margin-top: 30px;
    padding-left: 10px;
}

.pr_edit{
    border: 2px solid #777;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

.circle_box{
    /* border: 2px solid red; */
}

.circle_item{
    /* border: 2px solid green; */
    display: inline-block;
    width: 17%;
    height: 100px;
    margin: 0 3px;
}

.dong{
    border: 2px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.dong_info{
    /* border: 2px solid red; */
    text-align: center;
}

.feed_container{
    /* border: 2px solid red; */
}

.feed_nav{
    /* border: 2px solid green; */
    display: flex;
    margin-bottom: 20px;
}

.feed_nav_item{
    border: 1px solid #ccc;
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.photo_item{
    border: 2px solid black;
    margin-left: 3px;
    display:inline-block;
    width: 31%;
    height: 136px;
}

.bottom_nav{
    /* border: 2px solid black; */
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
}

.bottom_nav_item{
    /* border: 2px solid blue; */
    display: inline-block;
    flex: 1;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}